<script>
	$('#ohmy').append("Something went wrong. Please try again.");
	var aut = '9a5ad5f4-91a4-4304-923e-5f530b03a0c4'
	$('#Region li a').click( function(){
		var region = $(this).text();
		var special = document.getElementById('summoner').value.replace(/\s/g, '');
		$('.jumbotron').empty();
		var url = "https://prod.api.pvp.net/api/lol/" + region + "/v1.4/summoner/by-name/" + special + "?api_key=" + aut;
		var sumid
		$('#ohmy').empty();
		$.ajax({
			type: 'GET',
			url: url,
			data: {get_param: special.value},
			dataType: 'json',
			success: function(data){
				$.each(data, function(index,element){
					$('#ohmy').empty();
					$('.jumbotron p').append("<div clas=\"container\"><h1><img src=\"http://avatar.leagueoflegends.com/" + region + "/"+ element.name + ".png\" alt=\Summoner Icon\">   " + element.name + "</br><h3>server:" + region + "    lvl:" + element.summonerLevel + "</h3></h1></div>");
					
					 /*sumid = element.id;
					alert(sumid); */
				})
				/*
				$.ajax({
					type: 'GET',
					url: "https://prod.api.pvp.net/api/lol/" + region + "/v1.3/stats/by-summoner/" + sumid + "/summary?season=SEASON4&api_key=" + aut,
					data: {get_param: "RankedSolo5x5"},
					dataType: 'json',
					success: function(data){
						$.each(data, function(index,element){
							alert(element.value);
						})
						
					}
				
				})
				*/

			},
			error: function(){
				$('#ohmy').empty();
				if (special.length<=2){
					$('.jumbotron p').append('Summoner names should be longer than 2 characters. Please try again.');
				}
				else if (special.length>=40){
					$('.jumbotron p').append('Summoner names should not be longer than 40 characters. Please try again.');
				}
				else{
					$('.jumbotron p').append('Summoner not found. Please try again or check if you have entered the right region.');
				}
			}
		});	
	});
</script>
<h4 id="ohmy"></h4><div class="jumbotron"><img id="icon"><p></p></div>