@import "bootstrap";
$grayLighter : #eaeaea;

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	overflow-y:scroll;
}

body {
	paddint-top:60px;
}
section {
	overflow: auto;
}
textarea{
	resize:vertical;
}
.center h1{
	margin-bottom: 10px;
}
#lol_logo{
	margin-left: auto;
}

#brand {
	float: left;
	margin-left: 2%;
	font-size:1.7em;
	color: #fff;
	text-transform: uppercase;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
}

/* footer */

footer {
	margin-top:45px;
	padding-top:5px;
	boarder-top:1px solid #eaeaea;
	color: #999
}

footer a {
	color: #555;
}

footer a:hover {
	color: #222;
}

footer small {
	float: left;
}

footer ul{
	float:right;
	list-style: none;
}

footer ul li {
	float:left;
	margin-left:10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}