<footer class="footer">
	<small>
		<a href="#">LoLSeeker</a> was created by Velislav Gerov
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",'#'%></li>
			<li><%= link_to "Blog",'#'%></li>
			<li><%= link_to "Contact",'#'%></li>
		</ul>
	</nav>
</footer>
