<header class="navbar navbar-inverse">
	<div class="container-fluid">
		<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<a class="navbar-brand" href="#" id="brand">lolseeker</a>
			
			<ul class="nav nav-pills pull-right">
				<li><%= link_to "Home",     '#' %></li>
				<li><%= link_to "Seekers",     '#' %></li>
				<li><%= link_to "Log in",     '#' %></li>
			</ul>
		</nav>
	</div>
</header>